In [1]:
import os 
import numpy as np
import pandas as pd
from datetime import datetime

os.getcwd()

'/home/saraiva/Documentos/GitHub/data-science-analytics/projects/rfm_modelling'

In [2]:
os.listdir()

['RFM_Modelling Notebook.ipynb', '.ipynb_checkpoints', 'README.txt']

## Loading DataFrames

In [5]:
df = pd.read_csv("/home/saraiva/Documentos/Dataframes/rfm_data/e_commerce_data.csv",encoding = "ISO-8859-1")
df['Total Price'] = df['Quantity'] * df['UnitPrice']

In [6]:
df.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00

In [7]:
df['Safra'] = [datetime.strptime(date.split(" ")[0],'%m/%d/%Y') for date in df['InvoiceDate']]

In [8]:
LastDay = datetime.strptime('01012012', "%d%m%Y").date()
df['Recencia'] = [(LastDay - datetime.strptime(date.split(" ")[0],'%m/%d/%Y').date()) for date in df['InvoiceDate']]
df['Recencia'] = [delta.days for delta in df['Recencia']]


R = df[['CustomerID','Recencia']].groupby("CustomerID",as_index = False).min()
FM = df[['CustomerID','Quantity','Total Price']].groupby("CustomerID",as_index = False).sum().round(2)

In [9]:
aux = df[['InvoiceNo','CustomerID','Quantity']].groupby(["CustomerID",'InvoiceNo'],as_index = False).count()
aux = aux[['CustomerID','InvoiceNo']].groupby("CustomerID",as_index = False).count().rename(columns = {'InvoiceNo':'Frequency'})

In [10]:
RM = pd.merge(R,FM,on = 'CustomerID')
RFM = pd.merge(RM,aux,on = 'CustomerID')
RFM = RFM[['CustomerID','Recencia','Total Price','Frequency']]
RFM = RFM[RFM['Total Price'] > 0]
RFM.head()

   CustomerID  Recencia  Total Price  Frequency
1     12347.0        25      4310.00          7
2     12348.0        98      1797.24          4
3     12349.0        41      1757.55          1
4     12350.0       333       334.40          1
5     12352.0        59      1545.41         11

In [11]:
def RFM_5_scores(df,col,inverse= False):
    '''Given a table and the columns, we assign the respective score according to quantiles
    df : name of Dataframe
    col : name of column
    inverse : It should be True just for Recency feature'''
    
    if(inverse == True):
        RFM_labels = [5,4,3,2,1]
    else:
        RFM_labels = [1,2,3,4,5]
    df.sort_values(by = col,inplace = True,ascending = True)
    df[col + '_Score'] = pd.qcut(df[col].rank(method='first'),[0, 0.2, 0.4, 0.6, 0.8, 1.] ,labels = RFM_labels)
    return df

In [12]:
RFM.rename(columns={'Total Price':'Monetary Value'},inplace=True)
RFM.rename(columns={'Recencia':'Recency'},inplace=True)
RFM_5_scores(RFM,'Recency',inverse = True)
RFM_5_scores(RFM,'Frequency')
RFM_5_scores(RFM,'Monetary Value')
RFM.groupby(['Recency_Score','Frequency_Score','Monetary Value_Score'],as_index = False).mean().round(2).drop('CustomerID',axis=1)

,Recency_Score,Frequency_Score,Monetary Value_Score,Recency,Monetary Value,Frequency
0,5,1,1,28.93,167.77,1.00
1,5,1,2,30.80,315.25,1.00
2,5,1,3,26.00,680.99,1.00
3,5,1,4,34.00,1201.49,1.00
4,5,1,5,25.00,3861.00,1.00
5,5,2,1,29.15,154.13,1.35
6,5,2,2,28.00,337.42,1.63
7,5,2,3,28.82,674.45,1.71
8,5,2,4,27.75,1372.13,2.00
9,5,2,5,NaN,NaN,NaN
10,5,3,1,28.88,161.99,2.38
11,5,3,2,27.81,364.20,2.44
12,5,3,3,28.48,677.29,2.65
13,5,3,4,28.56,1226.48,2.61
14,5,3,5,30.43,4566.77,2.71
15,5,4,1,31.25,194.45,4.50
16,5,4,2,30.17,410.34,4.33
17,5,4,3,28.73,720.19,4.52
18,5,4,4,28.00,1385.97,5.01
19,5,4,5,28.73,3099.26,5.35
20,5,5,1,34.00,191.17,8.00
21,5,5,2,25.00,389.86,7.00
22,5,5,3,25.50,648.08,8.00
23,5,5,4,27.90,1545.15,9.51
24,5,5,5,27.43,11138.53,22.40
25,4,1,1,44.71,146.92,1.00
26,4,1,2,44.56,347.84,1.00
27,4,1,3,43.69,644.12,1.00
28,4,1,4,48.67,1511.76,1.00
29,4,1,5,NaN,NaN,NaN
...,...,...,...,...,...,...
95,2,5,1,NaN,NaN,NaN
96,2,5,2,148.50,456.26,7.50
97,2,5,3,112.17,872.13,7.50
98,2,5,4,125.55,1518.72,8.73
99,2,5,5,128.64,4259.48,10.72
100,1,1,1,273.06,141.44,1.00
101,1,1,2,271.75,346.84,1.00
102,1,1,3,284.87,636.15,1.00
103,1,1,4,278.12,1340.48,1.00
104,1,1,5,227.50,2570.18,1.00
105,1,2,1,314.51,148.06,1.14
106,1,2,2,302.26,331.20,1.26
107,1,2,3,279.28,635.50,1.42
108,1,2,4,292.86,1310.34,1.43
109,1,2,5,342.00,2661.24,1.00
110,1,3,1,295.91,147.34,2.21
111,1,3,2,284.44,358.82,2.41
112,1,3,3,271.64,647.51,2.40
113,1,3,4,253.61,1252.35,2.57
114,1,3,5,247.60,3990.25,2.80
115,1,4,1,220.00,210.32,4.00
116,1,4,2,283.50,320.48,4.38
117,1,4,3,239.96,658.54,4.79
118,1,4,4,245.27,1398.97,4.73
119,1,4,5,268.50,6157.21,4.83
120,1,5,1,NaN,NaN,NaN
121,1,5,2,334.50,342.95,8.00
122,1,5,3,280.50,688.67,8.50
123,1,5,4,229.50,1187.55,9.50
124,1,5,5,274.20,4297.91,16.20

In [13]:
RFM[['CustomerID','Recency_Score','Frequency_Score','Monetary Value_Score']].groupby(['Recency_Score','Frequency_Score','Monetary Value_Score'],as_index = False).count()

    Recency_Score Frequency_Score Monetary Value_Score  CustomerID
0               5               1                    1        14.0
1               5               1                    2        10.0
2               5               1                    3         1.0
3               5               1                    4         1.0
4               5               1                    5         1.0
5               5               2                    1        20.0
6               5               2                    2        19.0
7               5               2                    3        17.0
8               5               2                    4         4.0
9               5               2                    5         NaN
10              5               3                    1        16.0
11              5               3                    2        36.0
12              5               3                    3        40.0
13              5               3                    4        36.0
14              5               3                    5         7.0
15              5               4                    1         4.0
16              5               4                    2        12.0
17              5               4                    3        52.0
18              5               4                    4        98.0
19              5               4                    5        52.0
20              5               5                    1         1.0
21              5               5                    2         1.0
22              5               5                    3         4.0
23              5               5                    4        79.0
24              5               5                    5       339.0
25              4               1                    1        80.0
26              4               1                    2        52.0
27              4               1                    3        16.0
28              4               1                    4         3.0
29              4               1                    5         NaN
..            ...             ...                  ...         ...
95              2               5                    1         NaN
96              2               5                    2         2.0
97              2               5                    3         6.0
98              2               5                    4        22.0
99              2               5                    5        25.0
100             1               1                    1       129.0
101             1               1                    2        72.0
102             1               1                    3        31.0
103             1               1                    4         8.0
104             1               1                    5         2.0
105             1               2                    1       198.0
106             1               2                    2       121.0
107             1               2                    3        36.0
108             1               2                    4        14.0
109             1               2                    5         1.0
110             1               3                    1        33.0
111             1               3                    2        79.0
112             1               3                    3        45.0
113             1               3                    4        23.0
114             1               3                    5         5.0
115             1               4                    1         1.0
116             1               4                    2         8.0
117             1               4                    3        24.0
118             1               4                    4        15.0
119             1               4                    5         6.0
120             1               5                    1         NaN
121             1               5                    2         2.0
122             1               5                    3         2.0
123             1               5                    4         4.0
124             1               5                    5         5.0

[125 rows x 4 columns]

In [14]:
TotalGasto = RFM['Monetary Value'].sum()
RFM.sort_values(by = 'Monetary Value',ascending = False,inplace = True)
aux_gasto = RFM[['Monetary Value','Recency_Score','Frequency_Score','Monetary Value_Score']]
aux_gasto['Monetary Acumulado'] = np.cumsum(aux_gasto['Monetary Value'])
aux_gasto['Monetary Acumulado (%)'] = (aux_gasto['Monetary Acumulado']/TotalGasto)*100
Best_clients = aux_gasto[aux_gasto['Monetary Acumulado (%)'] < 80]
Important_clients = aux_gasto[aux_gasto['Monetary Acumulado (%)'] < 80].shape[0] 
Total_clients = aux_gasto.shape[0]
print( "Com "+ str(round((Important_clients/Total_clients)*100,2)) + "% da base de clientes, tenho 80% da receita")

Com 27.26% da base de clientes, tenho 80% da receita

/home/saraiva/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/saraiva/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [210]:
Best_clients.groupby(['Recency_Score','Frequency_Score','Monetary Value_Score'],as_index = False).count().dropna()

,Recency_Score,Frequency_Score,Monetary Value_Score,Monetary Value,Monetary Acumulado,Monetary Acumulado (%)
4,5,1,5,1.0,1.0,1.0
8,5,2,4,1.0,1.0,1.0
13,5,3,4,5.0,5.0,5.0
14,5,3,5,7.0,7.0,7.0
18,5,4,4,37.0,37.0,37.0
19,5,4,5,52.0,52.0,52.0
23,5,5,4,44.0,44.0,44.0
24,5,5,5,339.0,339.0,339.0
28,4,1,4,2.0,2.0,2.0
33,4,2,4,1.0,1.0,1.0
34,4,2,5,1.0,1.0,1.0
38,4,3,4,7.0,7.0,7.0
39,4,3,5,11.0,11.0,11.0
43,4,4,4,31.0,31.0,31.0
44,4,4,5,38.0,38.0,38.0
48,4,5,4,33.0,33.0,33.0
49,4,5,5,175.0,175.0,175.0
54,3,1,5,1.0,1.0,1.0
58,3,2,4,7.0,7.0,7.0
59,3,2,5,4.0,4.0,4.0
63,3,3,4,9.0,9.0,9.0
64,3,3,5,7.0,7.0,7.0
68,3,4,4,31.0,31.0,31.0
69,3,4,5,50.0,50.0,50.0
73,3,5,4,22.0,22.0,22.0
74,3,5,5,78.0,78.0,78.0
78,2,1,4,8.0,8.0,8.0
79,2,1,5,6.0,6.0,6.0
83,2,2,4,4.0,4.0,4.0
84,2,2,5,2.0,2.0,2.0
88,2,3,4,10.0,10.0,10.0
89,2,3,5,11.0,11.0,11.0
93,2,4,4,28.0,28.0,28.0
94,2,4,5,37.0,37.0,37.0
98,2,5,4,13.0,13.0,13.0
99,2,5,5,25.0,25.0,25.0
103,1,1,4,2.0,2.0,2.0
104,1,1,5,2.0,2.0,2.0
108,1,2,4,5.0,5.0,5.0
109,1,2,5,1.0,1.0,1.0
113,1,3,4,4.0,4.0,4.0
114,1,3,5,5.0,5.0,5.0
118,1,4,4,8.0,8.0,8.0
119,1,4,5,6.0,6.0,6.0
123,1,5,4,1.0,1.0,1.0
124,1,5,5,5.0,5.0,5.0

In [137]:
'''def jitter(a_series, noise_reduction=1000000):
    return (np.random.random(len(a_series))*a_series.std()/noise_reduction)-(a_series.std()/(2*noise_reduction))

def RFM_5_scores(df,col,inverse= False):
    if(inverse == True):
        RFM_labels = [5,4,3,2,1]
    else:
        RFM_labels = [1,2,3,4,5]
    df.sort_values(by = col,inplace = True,ascending = True)
    df[col + '_Score'] = pd.qcut(df[col] + jitter(df[col]),[0, 0.2, 0.4, 0.6, 0.8, 1.] ,labels = RFM_labels)
    return df'''