In [211]:
import urllib3
import json
import datetime
import csv
import time
import requests
import facebook
import pandas as pd

In [ ]:
token = {''}

In [208]:
graph = facebook.GraphAPI(token)


fields = ['email,gender,birthday']
profile = graph.get_object('me',fields = fields)

a = json.dumps(profile,indent = 4)

In [234]:
with open('facebook_rsaraiva.json', 'w') as f:  # writing JSON object
    json.dump(profile,f)
    
with open('facebook_rsaraiva.json','r') as file:
    my_data = file.read()
    
json_acceptable_string = my_data.replace("'", "\"")
d = json.loads(json_acceptable_string)

d = pd.DataFrame(data = list(d.values()),
             index = list(d.keys()))

In [235]:
d

                               0
email     r137377@dac.unicamp.br
gender                      male
birthday              10/31/1994
id             10219731191933733